h1{
	text-align: center;
	color: blue
}
.jumbotron{
  color: white;
	background-color:black;
}
body {
	font-family: 'Lato', sans-serif;
	background-image: url("../images/tt.jpg");
	background-size: contain;
}

.btn  {
	background: red;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
}
.card{
  color: white;
  background-color: black;
  background-image: url(quizboard/images/tt.jpg);
}
#mc {
	display: inline;
}
